/* MODALS */
/* DELETE FORM modal FROM USER plus timer modal using some of its styling */

section.delete-user-container,
section.invoice-client-container {
	width: 600px;
	max-height: 200px;
}

.delete-user-form,
.invoice-client-form {
	flex-direction: column;
}

.invoice-client-form h3,
.delete-user-form h3,
.timer-form h3 {
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 30px;
}

.delete-user-form h3 span {
	display: block;
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
}

.delete-user-form .button-group,
.timer-form .button-group {
	gap: 30px;
}
